<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RMGYANTRA.BasicAuthTest"/>
        <class name="RMGYANTRA.CreateProjectGetAndVerifyInDB"/>
      <class name="RMGYANTRA.CreateAndDeleteAProjectTest"/>
      <class name="RMGYANTRA.GetAllProjectTest"/>
      <class name="RMGYANTRA.CreateProjectUsingJSONObjectTest"/>
      <class name="RMGYANTRA.CreateProjectTest"/>
    <class name="RMGYANTRA.GetSingleProjectTest"/>
      <class name="RMGYANTRA.CreateProjectUsingJSONFileTest"/>
      <class name="RMGYANTRA.CreateProjectUsingMapTest"/>
      <class name="RMGYANTRA.CreateAndUpdateProjectTest"/>
    
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
